/Encoder.class
/EqualityRoutine.class
/Field.class
/Frame.class
/KnownAddress.class
/KnownRoutine.class
/KnownValue.class
/ObjectAddress.class
/PrimitiveRoutine.class
/RuntimeEntity.class
/TypeRepresentation.class
/UnknownAddress.class
/UnknownRoutine.class
/UnknownValue.class
